.exploreMoreContainer {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.exploreMoreSeperator {
    display: flex;
    justify-content: center;
    height: 100px;
}

.exploreMoreGridSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploreMoreSeperatorLine {
    height:1px;
    width: 150px;
    background: #999999;
}

.exploreMoreGrid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
